body {
    background-color: #121417;
}

nav.home_menu{
    text-align: center;
}

nav.home_menu li.btn {
    margin-top: 30px;
    display: inline-block;
    list-style-type: none;

}

a.button {
    text-decoration: none;
    color: white;
    padding: 35px 60px;
    font-family: Bahnschrift;
    font-size: 20px;
    border-radius: 20px;
}

a.button:hover {
    transition: 2s all;
    background-color: #353a3d;
    color: dodgerblue;
}

div.top_page_home {
    img.top {
        margin-top: 25px;
        width: 100%;
        text-align: center;
        border-radius: 25px;
        margin-bottom: 30px;
    }

    p.text {
        color: white;
        font-size: 20px;
        font-family: "Bell MT";
        padding: 15px;
        background-color: cornflowerblue;
        margin: 15px;
        border-radius: 15px;
    }

}

div.gallery {

    text-align: center;
    float: left;
    margin-left: 72px;
    background-color: #1C1D1D;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    border: 2px inset dodgerblue;

    p {
        font-size: 35px;
        color: white;
    }
    img {
        border-radius: 30px;
        height: 500px;
        width: 330px;
    }
}

p.separation-line {
    margin-top: 685px;
    border: 5px solid dodgerblue;
    border-radius: 4px;
}

div.fist_parts {

    vertical-align: center;
    background-color: #1C1D1D;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
    font-size: 25px;
    border: 2px inset dodgerblue;
    border-radius: 30px;
    margin-bottom: 30px;
    button{
        background-color: dodgerblue;
        border: 0px;
        border-radius: 5px;
        float: right;
        margin-right: 200px;
        font-size: 30px;
        a {
            text-decoration: none;
            color: white;
        }

    }
    button:hover {
        transition: all 2s;
        background-color: orange;

    }
    img {
        margin-top: 20px;
        margin-right: 20px;
        height: 550px;
        width: 1230px;
        float: left;
        border: 1px solid orange;
        border-radius: 30px;
    }

}

div.second_parts {

    vertical-align: top;
    background-color: #1C1D1D;
    color: white;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border: 2px inset dodgerblue;
    border-radius: 30px;
    margin-bottom: 30px;

    button{
        background-color: dodgerblue;
        border: 0px;
        border-radius: 5px;
        float: left;
        margin-left: 200px;
        font-size: 30px;
        padding-left: 40px;
        padding-right: 40px;

        a {
            text-decoration: none;
            color: white;
        }

    }
    button:hover {
        transition: all 2s;
        background-color: orange;

    }
    img {
        margin-top: 20px;
        margin-left: 20px;
        height: 550px;
        width: 1230px;
        float: right;
        border: 1px solid orange;
        border-radius: 30px;
    }

}


p.separation-line2 {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid dodgerblue;
    border-radius: 4px;
}

div.sponsored {

    padding: 10px;
    background-color: #1C1D1D;
    border: 2px solid dodgerblue;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    p {
        color: white;
        font-size: 30px;

    }
    button {
        background-color: #1C1D1D;
        border: #1C1D1D;
        margin: 40px;
    }
    img {
        height: 275px;
        width: 275px;
    }
}

footer {

    margin-top: 30px;
    p.bottom {
        padding-bottom: 180px;
    }
    vertical-align: top;
    padding: 10px;
    background-color: #1C1D1D;
    div.legal {
        float: left;
        h1.legal_title {
            margin-left: 80px;
            font-size: 30px;
        }
        ul {
            list-style-type: none;

        }
        li {
            padding: 5px;
        }
        a {
            margin-left: 20px;
            font-size: 20px;
            color: whitesmoke;
            text-decoration: none;

        }
    }

    div.description_footer {
        float: right;
        h1.description_title {
            margin-left: 280px;
            font-size: 30px;
            margin-right: 50px;
        }
        p.description_text {
            font-size: 20px;
            margin-left: 220px;
            margin-right: 20px;
        }
    }
    div.banniere_footer {
        margin-right: 130px;
        text-align: center;
        float: right;
        img {
            border-radius: 30px;
            border: 2px solid orange;
            height: 200px;
            width: 700px;
        }

    }
}
